.container {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    height: 40vh;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#form-title {
    text-align: center;
    margin-bottom: 5vh;
    

  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 50px;
  font-style: normal;
  color: beige;

}

.input1 {
    position: relative;
    width: 100%; 
    height: 50px;
    margin: 30px 0;
    border-bottom: 2px solid white;
}

.remember {
    margin-bottom: 2vh;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}
input{
    width: 100%;
    height: 100%;
    background: transparent; 
    border: none;            
    outline: none;           
    font-size: 1em;
    color: white;           
    font-weight: 600;
    padding: 0 35px 0 5px;
}
input::placeholder {
    color: beige; 
    opacity: 1; 
}

.btn{
    width: 100%;
    padding: 8px;
    border-radius: 40px;
    border: none;
    background: rgba(170, 180, 200, 0.2);
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    transition: .3s ease;

}
.btn:hover {
    background: rgba(255, 255, 255, 0.1);}
.remember a{
margin-left: 5vw;
text-decoration: none;
color: white;
transition: .3s ease;
}
.remember{
    color: beige;
}
.remember a:hover{
    color: bisque;
}
.Register{
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
}
.Register a{
    text-decoration: none;
    color: blanchedalmond;
    transition: .5s ease;
}
.Register a:hover{
    color: #fff;
}